# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs

source /opt/hadoop-2.5.0-cdh5.2.0/etc/hadoop/hadoop-env.sh
export PATH=$PATH:$HOME/bin




