<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>
<property>
  <name>dfs.permissions.superusergroup</name>  
  <value>{{dfs_permissions_superusergroup}}</value>
</property>
<property>
  <name>dfs.namenode.name.dir</name>  
  <value>{{dfs_namenode_name_dir}}</value>
</property>
<property>
  <name>dfs.datanode.data.dir</name>  
  <value>{{dfs_datanode_data_dir}}</value>
</property>
</configuration>